<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />




<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="#">Blog Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Front", "User")">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("About", "User")">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Login", "User")">Logout</a>
            </li>

            </li>
        </ul>

    </div>
</nav>

<div>
    @RenderBody()
</div>
